#body {
    position: absolute;
}

#wrap {
  width: 900px;
  padding: 0;
  margin: 20px auto 0 auto;
}

#header {
  text-align: center;
  height: 150px;
  border-width: 2px;
  border-style: solid;
  margin: 0;
  padding: 0;
}

#navbar {
  width: 120px;
  border-width: 2px;
  border-style: solid;
  padding: 8px;
  margin-top: 27px;
  font-size: 80%;
}

#navbar ul {
  padding: 0;
  margin:  0;
  list-style: none;
}

#navbar ul>li>ul {
  margin: 0 0 0 10px;
}

#navbar a:link,a:visited {
    color: blue;
}

#navbar a:active,a:hover {
    color: red;
}

#content {
  position: absolute;
  top: 14px;
  left: 138px;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  width: 600px;
}

#content h1 {
  font-size: 110%;
}

#content p {
  margin: 0 0 2px 0;
}

#footer {
  font-size: 75%;
  text-align: center;
}

#exist ul {
    margin:  0 20px 0 0;
    padding: 0;
    list-style-position: inside;
}

.center {
    margin-left: auto;
    margin-right: auto;
}
