#wrap {
  position: absolute;
  width: 900px;
  top: 20px;
  left: 20px;
  padding: 0;
  margin: 0;
}

#header {
  text-align: center;
  height: 150px;
  border-width: 2px;
  border-style: solid;
  margin: 0;
  padding: 0;
}

#navbar {
  position: absolute;
  width: 120px;
  top: 177px;
  border-width: 2px;
  border-style: solid;
  padding: 8px;
  z-index: 2;
}

#navbar ul {
  padding: 0;
  margin:  0;
  list-style: none;
}

#navbar ul>li>ul {
  margin: 0 0 0 25px;
}

#navbar a:link,a:visited {
    color: blue;
}

#navbar a:active,a:hover {
    color: red;
}

#content {
  position: absolute;
  left: 138px;
  border-width: 2px;
  border-style: solid;
  z-index: 1;
  padding: 10px;
  border-top: 0;
  right: 138px;
}

#content h1 {
  font-size: 110%;
}

#content p {
  margin: 0 0 2px 0;
}

#footer {
  font-size: 75%;
  text-align: center;
}

#exist ul {
    margin:  0 20px 0 0;
    padding: 0;
    list-style-position: inside;
}

.center {
    margin-left: auto;
    margin-right: auto;
}
