@import "reset.css";

body {
    line-height: 1.3;
}

h1 {
    margin-bottom: 20px;
}

p {
    padding-bottom: 20px;
}

#main {
    position: absolute;
    font-family: serif;
}

#wrap {
  width: 900px;
  margin: 20px auto 0 auto;
}

#header {
  text-align: center;
  height: 150px;
  border-width: 2px;
  border-style: solid;
}

#navbar {
  width: 120px;
  border-width: 2px;
  border-style: solid;
  padding: 8px;
  margin-top: 27px;
  font-size: 75%;
}

#navbar ul>li>ul {
  margin-left: 10px;
}

#navbar a:link,a:visited {
    color: blue;
}

#navbar a:active,a:hover {
    color: red;
}

#content {
  position: absolute;
  top: 14px;
  left: 138px;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  width: 600px;
}

#content h1 {
  font-size: 125%;
}

#content p {
  margin: 0 0 2px 0;
}

#footer {
  margin-top: 10px;
  font-size: 50%;
  text-align: center;
}

#exist {
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.code {
    font-family: monospace;
}

.smaller {
    font-size: 75%;
}

table {
    width: 80%;
}

td {
    width: 24%;
}
