---
colors:
  - name: Default
    file: colors.css
  - name: Ouch
    file: colors2.css
pages:
  - name: Main
    link: /
  - name: About Me
    link: /about.html
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      Mike Lundy's Speculative Title :: {{ page.title }}
    </title>
    <link rel="stylesheet" href="/css/site.css" type="text/css" />
    <link rel="stylesheet" href="/css/colors.css" type="text/css" title="Default" />
    {% for i in page.colors %}
      {% if i.name != 'Default' %}
        <link rel="alternate stylesheet" href="/css/{{ i.file }}" type="text/css" title="{{ i.name }}" />
      {% endif %}
    {% endfor %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="/js/site.js" type="text/javascript"></script>
    <meta name="Author" content="Mike Lundy" />
  </head>
  <body>
    <div id="wrap">
      <a href="http://github.com/novas0x2a/novas0x2a.github.com">
        <img style="position: absolute; top: 0; left: 0; border: 0; z-index: 10"
             src="http://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png"
             alt="Fork me on GitHub" />
      </a>
      <div id="header">
        <img src="/images/header.png" width="800" height="150" style="background-color: black;" alt="Header" />
      </div>
      <div id="main">
        <div id="navbar">
          <ul>
            {% for i in page.pages %}
              {% if page.title == i.name %}
                <li class="active">{{i.name}}</li>
              {% else %}
                <li><a href="{{i.link}}">{{i.name}}</a></li>
              {% endif %}
            {% endfor %}
            <li>Code
            <noscript><ul><li>Disabled due to a lack of javascript</li></ul></noscript>
              <ul id="code_list">
                <li>zeta</li>
                <li>kappa</li>
              </ul>
            </li>
            <li>Badges
              <ul>
                <li><a href="http://validator.w3.org/check?uri=referer"><img alt="Valid XHTML 1.0" src="/images/valid_xhtml10_blue.png" /></a></li>
                <li><a href="http://jigsaw.w3.org/css-validator/check/referer"><img alt="Valid CSS 2.1"   src="/images/valid_css21_blue.png"   /></a></li>
              </ul>
            </li>
          </ul>
          <div class="smaller" style="margin-top: 20px">Colors:
            {% for i in page.colors %}
              <a href="#" onclick="pickColor('{{ i.name }}')">[{{i.name}}]</a>
            {% endfor %}
          </div>
        </div>
        <div id="content">
          {{ content }}
          <div id="footer">&copy;Mike Lundy. Be nice or I'll steal your doggy and pet him and squeeze him.</div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      /* <![CDATA[ */
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      /* ]]> */
    </script>
    <script type="text/javascript">
      /* <![CDATA[ */
        var pageTracker = _gat._getTracker("UA-3214141-1");
        pageTracker._initData();
        pageTracker._trackPageview();
      /* ]]> */
    </script>
  </body>
</html>
